parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Parameter #1 \$length of function random_bytes expects int<1, max>, int\|false given.%'
            path: src/Encrypt.php
