parameters:
    phpVersion: 70200
    level: 8
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 1
    excludePaths:
        - tests/report/*
        - tests/TestAsset/*
        - tests/Integration/TestAsset/*
